.moveableObj {
    background-color: gray !important;
    border-radius: 15px;
    font-weight: bold;
    padding-top: 5px;
    position: absolute;
}

.moveableObj:hover {
    z-index: 100;
    background-color: #9f9f9f !important;
}

.cannotHighlight * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}