/* * * * Container * * * */
.quizSquareContainer {
    width: 100%;
    height: 100%;
}


/* * * * Title * * * */
.quizSquareTitle {
    text-align: center;
    color: white !important;
    min-width: 96%;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
}

.quizSquareTitleText {
    text-align: left;
    width: 88%;
    padding-left: 5px;
    font-size: 30px;
    font-weight: 800 !important;
}

.quizSquareTitleTextField {
    max-height: 100% !important;
    width: 88% !important;
    height: 25px !important;
    background-color: white !important;
    padding: 3px !important;
}

.quizSquareContainer .MuiInput-underline::before, .quizSquareContainer .MuiInput-underline::after {
    border: 0px !important;
}

.quizSquareTitle .fa-pen {
    font-size: 16px !important;
    margin-right: 9px;
    margin-top: 8px;
}

.quizSquareTitle .fa-save {
    font-size: 26px !important;
    margin-right: 9px;
}

/* * * * Prompt * * * */
.quizSquarePrompt {
    width: 90% !important;
    height: 50px;
    margin-top: 15px;
    padding-left: 5px;
}

.quizSquarePromptTitle {
    color: white;
    padding-left: 5px;
    width: 100%;
    margin-bottom: 15px;
}

.quizSquarePromptData {
    padding-left: 5px;
    color: white;
    width: 100%;
    text-overflow: wrap;
}

.quizSquarePromptTitleTextField {
    max-height: 100% !important;
    width: 100% !important;
    height: 25px !important;
    background-color: white !important;
    padding: 3px !important;
}

.quizsquarePromptFullTextField {
    width: 100% !important;
    background-color: white !important;
    padding: 3px !important;
    height: max-content !important;
}